<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <title>Hustlers - 💸</title>
</head>
<body>
    <div id="wrapper" class="absolute left-0 top-0 w-full h-full bg-black bg-center bg-no-repeat bg-cover bg-[url('https://pbs.twimg.com/media/Ebyo327UMAAiRhs.jpg:large')] overflow-x-hidden overflow-y-scroll">
        <div class="absolute left-0 top-0 w-full h-fit bg-black/20 lg:bg-black/40 flex flex-col overflow-x-hidden overflow-y-scroll">
            <header class="fixed w-full h-fit px-6 py-3 bg-black/40 backdrop-blur-md flex flex-wrap items-center justify-between lg:gap-x-12 text-white z-20">
                <span class="flex p-2 cursor-pointer transition-all font-medium flex-wrap items-center justify-center lg:gap-x-12 gap-4">
                    <img class="w-8 h-8 scale-125" src="https://tr.rbxcdn.com/489c8f1c4969ba192df340d76a5a18a0/420/420/Hat/Png" alt="">
                    <span class="flex flex-wrap items-center gap-x-2">
                        <span v-for="(page, i_page) in pages" @click="changePage(i_page)" class="lg:flex hidden p-2 transition-all rounded-xl flex items-center justify-center hover:bg-emerald-300/30 hover:text-emerald-300 cursor-pointer text-sm">
                            {{ page.label }}
                        </span>
                        <span class="font-medium lg:hidden">
                            Hustlers
                        </span>
                    </span>
                </span>
                <span class="w-fit h-full flex flex-wrap gap-x-4 items-center justify-center"> 
                    <button class="bg-emerald-500 text-xs lg:text-sm text-white flex items-center justify-center lg:px-3 lg:py-2 px-2 py-1 rounded-2xl">
                        Telegram
                    </button>
                    <button class="bg-emerald-500 text-xs lg:text-sm text-white flex items-center justify-center lg:px-3 lg:py-2 px-2 py-1 rounded-2xl">
                        Contact us
                    </button>
                </span>
            </header>

            <nav class="fixed bottom-0 lg:hidden w-full h-fit px-6 py-4 bg-black/40 backdrop-blur-sm flex flex-wrap gap-x-4 items-center justify-between z-20">
                <a :class="{ 'text-emerald-500' : page.active }" v-for="(page, i_page) in pages" class="text-zinc-500/70 transition-all flex flex-col space-y-2 text-2xl items-center justify-center text-center w-[15vw]" href="">
                    <i :class="'fi fi-' + page.icon"></i>
                    <p :class="{ 'text-emerald-500' : page.active }" class="text-xs font-normal text-zinc-500 w-[15vw] overflow-hidden break-normal whitespace-nowrap text-ellipsis">{{ page.label }}</p>
                </a>
            </nav>

            <!-- PAGES -->

            <div class="relative w-full h-full p-6 pt-24 pb-36 flex flex-col">
                <div v-for="(page, i_page) in pages" :class="{ 'hidden' : !page.active }" class="relative w-full h-full flex flex-col items-center lg:justify-normal justify-center gap-y-12">
                    <header class="font-bold text-3xl text-white w-full h-fit ">
                        {{ page.label }}
                    </header>
                    <main class="w-full h-full grid lg:grid-cols-4 grid-cols-1 gap-12 overflow-y-scroll overflow-hidden">
                        <div v-for="(product, i_product) in page.products" class="col-span-1 lg:h-[370] h-[450] rounded-2xl bg-black/30 backdrop-blur-sm p-4 flex flex-col">
                            <span class="w-full h-auto">
                                <img :src='product.thumbnail' class="rounded-2xl object-cover">
                            </span>
                            <span class="w-full h-full py-2 flex flex-col justify-center">
                                <h1 class="text-white font.medium">{{ product.name }}</h1>
                                <p class="text-sm text-zinc-400">Price: {{ product.price }}</p>
                                <span class="w-full flex items-center gap-x-2 py-2">
                                    <button class="rounded-xl w-full py-2 flex items-center justify-center bg-emerald-500 text-white text-sm flex items-center justfiy-center transition-all cursor-pointer hover:opacity-80">
                                        Buy
                                    </button>
                                </span>
                            </span>
                        </div>
                    </main>
                </div>
            </div>

            <footer class="absolute hidden lg:flex flex-col bottom-0 z-0 bg-zinc-950 w-full h-fit px-6 py-4">
                <section class="w-full h-fit text-lg text-zinc-300">
                    Footer
                </section>
                <span class="w-full h-[1px] bg-zinc-700 my-2"></span>
                <section class="w-full h-fit flex flex-col space-y-1 text-zinc-500 text-sm">
                    <p>Telegram chat: t.me/****</p>
                    <p>Web Developer: "samu</p>
                </section>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var app = new Vue({
            el: '#wrapper',
            data: {
                pages: [
                    {
                        label: 'PayPal Transfer',
                        active: false,
                        icon: 'sr-hand-holding-usd',
                        products: [
                            {
                                name: '1200$ Transf.',
                                price: '100,00$',
                                thumbnail: 'https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png'
                            },
                            {
                                name: '2200$ Transf.',
                                price: '200,00$',
                                thumbnail: 'https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png'
                            },
                            {
                                name: '3200$ Transf.',
                                price: '300,00$',
                                thumbnail: 'https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png'
                            },
                            {
                                name: '4200$ Transf.',
                                price: '400,00$',
                                thumbnail: 'https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png'
                            },
                            {
                                name: '5200$ Transf.',
                                price: '500,00$',
                                thumbnail: 'https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png'
                            },
                            {
                                name: '6200$ Transf.',
                                price: '600,00$',
                                thumbnail: 'https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png'
                            },
                            {
                                name: '7200$ Transf.',
                                price: '700,00$',
                                thumbnail: 'https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png'
                            },
                        ]
                    },
                    {
                        label: 'White CC',
                        active: false,
                        icon: 'sr-credit-card',
                        products: [
                            {
                                name: '1000$ CC',
                                price: '150.00$',
                                thumbnail: 'https://m.media-amazon.com/images/I/61rAbTgElCL._UXNaN_FMjpg_QL85_.jpg'
                            },
                            {
                                name: '2000$ CC',
                                price: '250.00$',
                                thumbnail: 'https://m.media-amazon.com/images/I/61rAbTgElCL._UXNaN_FMjpg_QL85_.jpg'
                            },
                            {
                                name: '3000$ CC',
                                price: '350.00$',
                                thumbnail: 'https://m.media-amazon.com/images/I/61rAbTgElCL._UXNaN_FMjpg_QL85_.jpg'
                            },
                            {
                                name: '4000$ CC',
                                price: '450.00$',
                                thumbnail: 'https://m.media-amazon.com/images/I/61rAbTgElCL._UXNaN_FMjpg_QL85_.jpg'
                            },
                            {
                                name: '5000$ CC',
                                price: '550.00$',
                                thumbnail: 'https://m.media-amazon.com/images/I/61rAbTgElCL._UXNaN_FMjpg_QL85_.jpg'
                            },
                        ],
                    },
                    {
                        label: 'Fake Money',
                        active: false,
                        icon: 'sr-money-bills-simple',
                        products: [
                            {
                                name: '1000$ Fakes',
                                price: '50,00$',
                                thumbnail: 'https://i1.sndcdn.com/artworks-NeyXExkbVtDDnyuU-II1CPA-t500x500.jpg'
                            },
                            {
                                name: '2000$ Fakes',
                                price: '100,00$',
                                thumbnail: 'https://i1.sndcdn.com/artworks-NeyXExkbVtDDnyuU-II1CPA-t500x500.jpg'
                            },
                            {
                                name: '3000$ Fakes',
                                price: '150,00$',
                                thumbnail: 'https://i1.sndcdn.com/artworks-NeyXExkbVtDDnyuU-II1CPA-t500x500.jpg'
                            },
                            {
                                name: '4000$ Fakes',
                                price: '200,00$',
                                thumbnail: 'https://i1.sndcdn.com/artworks-NeyXExkbVtDDnyuU-II1CPA-t500x500.jpg'
                            },
                            {
                                name: '5000$ Fakes',
                                price: '250,00$',
                                thumbnail: 'https://i1.sndcdn.com/artworks-NeyXExkbVtDDnyuU-II1CPA-t500x500.jpg'
                            },
                            {
                                name: '6000$ Fakes',
                                price: '300,00$',
                                thumbnail: 'https://i1.sndcdn.com/artworks-NeyXExkbVtDDnyuU-II1CPA-t500x500.jpg'
                            },
                            {
                                name: '7000$ Fakes',
                                price: '350,00$',
                                thumbnail: 'https://i1.sndcdn.com/artworks-NeyXExkbVtDDnyuU-II1CPA-t500x500.jpg'
                            },
                        ]
                    },
                    {
                        label: 'V-Bucks',
                        active: true,
                        icon: 'sr-usd-circle',
                        products: [
                            {
                                name: '50.000 Vbucks',
                                price: '50,00$',
                                thumbnail: 'https://www.cnet.com/a/img/resize/2e09f7fdec3e96c351c484bb9dc7e6eef9a64722/hub/2020/02/14/676146ec-f899-4c73-a132-99f7bff87827/vbucks.png?auto=webp&fit=crop&height=900&width=1200'
                            },  
                            {
                                name: '70.000 Vbucks',
                                price: '70,00$',
                                thumbnail: 'https://www.cnet.com/a/img/resize/2e09f7fdec3e96c351c484bb9dc7e6eef9a64722/hub/2020/02/14/676146ec-f899-4c73-a132-99f7bff87827/vbucks.png?auto=webp&fit=crop&height=900&width=1200'
                            },
                            {
                                name: '100.000 Vbucks',
                                price: '100,00$',
                                thumbnail: 'https://www.cnet.com/a/img/resize/2e09f7fdec3e96c351c484bb9dc7e6eef9a64722/hub/2020/02/14/676146ec-f899-4c73-a132-99f7bff87827/vbucks.png?auto=webp&fit=crop&height=900&width=1200'
                            },
                            {
                                name: '150.000 Vbucks',
                                price: '150,00$',
                                thumbnail: 'https://www.cnet.com/a/img/resize/2e09f7fdec3e96c351c484bb9dc7e6eef9a64722/hub/2020/02/14/676146ec-f899-4c73-a132-99f7bff87827/vbucks.png?auto=webp&fit=crop&height=900&width=1200'
                            },
                            {
                                name: '200.000 Vbucks',
                                price: '200,00$',
                                thumbnail: 'https://www.cnet.com/a/img/resize/2e09f7fdec3e96c351c484bb9dc7e6eef9a64722/hub/2020/02/14/676146ec-f899-4c73-a132-99f7bff87827/vbucks.png?auto=webp&fit=crop&height=900&width=1200'
                            },
                            {
                                name: '300.000 Vbucks',
                                price: '300,00$',
                                thumbnail: 'https://www.cnet.com/a/img/resize/2e09f7fdec3e96c351c484bb9dc7e6eef9a64722/hub/2020/02/14/676146ec-f899-4c73-a132-99f7bff87827/vbucks.png?auto=webp&fit=crop&height=900&width=1200'
                            },
                        ]
                    },
                ]
            },
            methods: {
                changePage: function(index) {
                    for (var i = 0; i < this.pages.length; i++) {
                        this.pages[i].active = (i === index);
                    }
                }
            },
            mounted() {

            },
            created() {
                console.log('Active');
            }
        })
    </script>
</body>
</html>